---
# Only the main Sass file needs front matter (the dashes are enough)
---

/*$header_image: "header_" + floor((random()*5)+1) + ".png";*/


@import "minima";

body {
  background-color: #f8f8f8;
}

.page-content {
  padding: 0;
}

main .wrapper {
  background-image: url("back_sm.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  
  padding: 40px 30px; 
  background-color: #fff;
}

.site-header {
  font-family: 'Mako', "Segoe UI", Arial, sans-serif;

	/*background-image: url($header_image);*/
	background-image: url("header_1.png");
  /*background-color: #f8f8f8;*/

	height: 300px; 

  /*background-attachment: fixed;*/
  background-position: center top;
  background-repeat: no-repeat;

  border: 0px;
  margin-bottom: 0px;
}

.site-tile, .site-title:visited {
  color: #fefefe;
  text-decoration: none;
}

.site-title:hover {
  color: #fff;
}

.site-footer {
  padding: 10px 0;
  background-color: #f8f8f8;
  border: 0px;
  font-size: 82%;
}

.footer-col {
  padding-left: 0;
}

.footer-col-1 {
  width: -webkit-calc(70% - (#{$spacing-unit} / 2));
  width:         calc(0% - (#{$spacing-unit} / 2));
  text-align: center;
  font-size: 80%;
}

.footer-col-2 {
  /*width: -webkit-calc(0% - (#{$spacing-unit} / 2));
  width:         calc(0% - (#{$spacing-unit} / 2));*/
  width: 0;
}

.footer-col-3 {
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width:         calc(100% - (#{$spacing-unit} / 2));
  text-align: right;
}

ul.social-media-list{
  padding-top: 12px;
}

.social-media-list li{
  display: inline;
  padding-left: 20px;

}

.post-meta {
  font-size: 12px;
}


.post-content td:first-of-type {
  font-size: 75%;
}

.post-content td em {
  font-size: 130%;
  color:  #1cd1b3;
}

.site-footer .wrapper {
  text-align: right;
}

h1, h2, h3 {
  font-family: 'Overlock SC', "Segoe UI", Arial, sans-serif;
  color: #666;
}


h1, .post-list-heading {
  color: #f65858;
  text-align: center;
  border-bottom: 3px solid #ededed;
  padding-bottom: 8px;
}

.post-content h1 {
  text-align: left;
  border: 0px;
}


hr {
  margin: 50px 0 14px 0;
  border: 1px solid #ededed;
  background-color: #ededed;
}
