---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

main .wrapper {
  background-image: url("back.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.site-footer {
  padding: 20px 0;
}

.footer-col {
  padding-left: 0;
}

.footer-col-1 {
  width: -webkit-calc(55% - (#{$spacing-unit} / 2));
  width:         calc(55% - (#{$spacing-unit} / 2));
  text-align: left;
  font-size: 80%;
}

.footer-col-2 {
  /*width: -webkit-calc(0% - (#{$spacing-unit} / 2));
  width:         calc(0% - (#{$spacing-unit} / 2));*/
  width: 0;
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
  text-align: right;
}

.social-media-list li{
  display: inline;
  padding-left: 20px;
}

.post-meta {
  font-size: 12px;
}

.site-footer {
  background-color: #f8f8f8;
}

.site-footer .wrapper {
  text-align: right;
}

.rss-subscribe {
  font-size: 80%;
}