---
layout: default
---
<script>
  {%- if page.headerimage -%}
    $(".site-header").css("background-image","url('{{ "/assets/" | relative_url }}{{page.headerimage}}')");
  {%- else %}
    var rand1 = Math.floor((Math.random()*4)+1);
    $(".site-header").css("background-image","url('{{ "/assets/" | relative_url }}" + "header_" + rand1 + ".png')");
  {%- endif -%}
</script>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author | escape }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if page.photoset -%}
    <div id="flickrembed_40"></div>
    <div style="position:absolute; top:-70px; display:block; text-align:center; z-index:-1;">
      <a rel="nofollow" href="https://www.mummy2monkeys.co.uk">Michelle</a>
    </div>
    <script src='https://flickrembed.com/embed_v2.js.rand.php?container=flickrembed_40&source=flickr&layout=responsive&input={{ page.photoset }}&by=album&theme=grid&scale=fit&speed=3000&skin=default&autoplay=true'></script>
    <script type="text/javascript">function showpics(){var a=$("#box").val();$.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?tags="+a+"&tagmode=any&format=json&jsoncallback=?",function(a){$("#images").hide().html(a).fadeIn("fast"),$.each(a.items,function(a,e){$("<img/>").attr("src",e.media.m).appendTo("#images")})})}</script>
    <small style="display: block; text-align: center; margin: 0 auto;">Powered by <a href="https://flickrembed.com" target="_blank">flickr embed</a>.</small>
  
    {%- endif -%}

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>